*{
  margin:0;
  padding:0;
}
body{
  box-sizing: content-box;
}

.azul{
  background-color: rgb(18, 18, 95);

}
.preto{
  background: #000;
}

.banner{
  display: block;
  width: 70%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.main{
  width: 100%;
  display: block;
  background-color: rgb(0, 0, 0);
  padding-bottom: 40px;
}

.caroussel{
  background: rgb(255, 255, 255);
  padding: 25px 0;
  border: 2px solid black;
  border-radius: 10px;
  margin: 30px;
}
.caroussel img {
  max-width: 350px ;
  width: 350px;
  height: 450px;
  max-height: 450px;
  padding-top: 50px;
}

.promocao{
  border-radius: 10px;
  max-width: 90%; 
  background-color: white;
  margin:0 auto;
  padding-bottom: 20px;
  text-align: center;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-name{
  font-weight: bolder;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.price{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.product{
  display: flex;
  float: left;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 30px;
}

.produto-map{
  margin: 0 5%;
}

.product-body{
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
}

.product-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 60px 20px;
}
.product-group img{
  border: 1px solid rgb(43, 43, 43);
  border-radius: 10px;
  margin: 30px;
  width: 360px;
  padding: 30px;
}
.product-group h2{
  margin: 70px 0px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sale{
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.button-frete{
  padding:10px 50px;
  display: block;
  background-color: #DC3545;
  border: none;
  border-radius: 10px;
}

form{
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form input{
  font-size: 18px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

form input, form button{
  width: 45%;
  margin: 5px;
}

.p-frete{
  margin: 10px 0 10px 0;
}

.sale p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 32px;
}

.img-body{
  width: 210px;
  height: 270px;
}
.footer{
  height: 300px;
  width: 100%;
  padding:  10px 10%;
  background-color: gray;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a, a:hover{
  color: black;
  list-style: none;
}
.sub-footer{
  display: block;
  border-top: 1px solid rgb(59, 59, 59);
  background-color: rgb(61, 61, 61);
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: 800;
}

.redes-sociais{
  display: block;
  margin-left:30px;
  margin-top: 20px;
  width: 100%;
  max-width: 280px;
  float: left;
}

li{
  list-style: none;
}

.redes-sociais h2{
  text-align: center;
}

.docs{
  max-width: 300px;
  display: inline;
  margin-left:30px;
}

.data label{
  font-weight: 700;
  color: rgb(255, 255, 255);
}

@media(max-width:920px){
  .product-group{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
  }
  .sale{
    width: 80%;
    margin: 0 auto;
  }
  form{
    margin: 50px auto;
    flex-direction: column;
    display: block;
  }
  form input, form button{
    width: 70%;
  }
}

@media (max-width:550px){
  .produto-map{
    margin: 0 20%;;
    align-items: center;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
  }
  .foooter .docs {
    display: block;
    margin-bottom: 80px;
  }
  .banner{
    height: 180px;
    margin-top: 50px;
    padding: 0;
    width: 90%;
  }
}